<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.example.marcosgb_parcial_2_3.MyApplication"
        android:windowSoftInputMode="adjustPan"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MarcosGBParcial23"
        tools:targetApi="34">

        <activity
            android:name="com.example.marcosgb_parcial_2_3.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MarcosGBParcial23">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declarar la actividad PantallaLogin -->
        <activity android:name="@style/Theme.MarcosGBParcial23.vista.PantallaLogin" />

        <!-- Declarar la actividad PantallaRegistro -->
        <activity android:name="@style/Theme.MarcosGBParcial23.vista.PantallaRegistro" />

    </application>

</manifest>